<html>
<body>
    <h3>Confirmation</h3>
    <p>
        Your Appointment has been confirmed for @{DateTime.Now.Date.AddDays(1).AddHours(14);} .
        Be on your Vsee account 5 minutes before your appointment, and
        wait for the service provider to contact you.
        Please use the home button to view another appointment or log out.
    </p>
</body>
</html>