<style>
    h4{
        text-align: right;
    }
    h3{
        text-align: center;
    }
    p{
        margin: 4px 180px 2px 180px;
    }
</style>
<html>
<body>
    <h4><a href="~/Home/About" class="btn btn-primary btn-lg">Home &raquo;</a></h4>
    <h3>Confirmed!</h3>
    <p>
        Your appointment has been confirmed for @DateTime.Now.Date.AddDays(1).AddHours(14). 
        Please sign on to your VSEE account for the inmate 5 minutes before the start time.
    </p>
</body>
</html>