@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #3e8e41;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #f1f1f1
        }

        .show {
            display: block;
        }
        h4{
            text-align: right;
        }
    </style>
</head>

<body>
    <h4><a href="~/Home/About" class="btn btn-primary btn-lg">Home &raquo;</a></h4>
    <h2>Available Time Slots</h2>
    <p>
        Choose 60 minute slot for new appointments<br />
        Or<br />
        Choose 30 minute slot for follow ups.
    </p>

    <label>Appointment Date</label>
      
    <input type="date" id="ddl" onchange="configureDropDownLists(this,document.getElementById('ddl2'))" />

    <label>Time</label>
    <select id="ddl2" onchange="getinfo()"></select>

    <script>
        function getinfo() {
            document.getElementById("myText").value = "John";
            document.getElementById("myPwd").value = "Smith";
            document.getElementById("myDOB").value = new Date('2011-04-11T10:20:30Z');
            document.getElementById("myMail").value = "Notanemail@noreply.com";
            document.getElementById("myTextArea").value = "This sentence provides the additional information need for this inmate.";
        }
    </script>
    <script type="text/javascript">
    function configureDropDownLists(ddl1, ddl2) {
        var tues = ['2PM', '3PM', '4PM'];
        var thurs = ['2PM', '3PM', '4PM', '5PM'];
        var fri = ['2PM', '3PM', '4PM', '5PM'];
        var sat = ['8AM', '9AM'];
        var a = new Date(document.getElementById("ddl").value);
        var n = a.getDay();

        switch (n) {
            case 1:
                ddl2.options.length = 0;
                for (i = 0; i < tues.length; i++) {
                    createOption(ddl2, tues[i], tues[i]);
                }
                break;
            case 3:
                ddl2.options.length = 0;
                for (i = 0; i < thurs.length; i++) {
                    createOption(ddl2, thurs[i], thurs[i]);
                }
                break;
            case 4:
                ddl2.options.length = 0;
                for (i = 0; i < fri.length; i++) {
                    createOption(ddl2, fri[i], fri[i]);
                }
                break;
            case 5:
                ddl2.options.length = 0;
                for (i = 0; i < sat.length; i++) {
                    createOption(ddl2, sat[i], sat[i]);
                }
                break;
            default:
                ddl2.options.length = 0;
                break;
        }

    }

    function createOption(ddl, text, value) {
        var opt = document.createElement('option');
        opt.value = value;
        opt.text = text;
        ddl.options.add(opt);
    }
    </script>



    <h1>Inmate Information</h1>
    <p>
        <label>First Name</label>
        <input type="text"
               id="myText"
               value="" />
    </p>
    <p>
        <label>Last Name</label>
        <input type="text"
               id="myPwd"
               value="" />
    </p>
    <p>
        <label>Date of Birth</label>
        <input type="date"
               id="myDOB"
               value="" />
    </p>
    </body>
    <body onload="myUpload()">
        <label>Upload File(s)</label>
        <input type="file" id="myFile" multiple size="50" onchange="myUpload()">

        <p id="demo"></p>

        <script>
            function myUpload() {
                var x = document.getElementById("myFile");
                var txt = "";
                if ('files' in x) {
                    if (x.files.length == 0) {
                        txt = "Select one or more files.";
                    } else {
                        for (var i = 0; i < x.files.length; i++) {
                            txt += "<br><strong>File " + (i + 1) + ".</strong><br>";
                            var file = x.files[i];
                            if ('name' in file) {
                                txt += "name: " + file.name + "<br>";
                            }
                            if ('size' in file) {
                                txt += "size: " + file.size + " bytes <br>";
                            }
                        }
                    }
                }
                else {
                    if (x.value == "") {
                        txt += "Select one or more files.";
                    } else {
                        txt += "The files property is not supported by your browser!";
                        txt += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead.
                    }
                }
                document.getElementById("demo").innerHTML = txt;
            }
        </script>

        <p><strong>Tip:</strong> Use the Control or the Shift key to select multiple files. (Can't view or save these files yet)</p>

    </body>
    <!--Insert Document Upload Here!-->
<body>    
    <h1>Jailer Info</h1>
    <p>
        <label> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;E-mail</label>
        <input type="email"
               id="myMail"
               value="" />
    </p>
    <p>
        <label>Additional Information</label>
        <textarea id="myTextArea"
                  rows="5"
                  cols="80"></textarea>
    </p>
    <p><a href="~/Home/Calendar" class="btn btn-primary btn-lg">Save &raquo;</a></p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Cancel &raquo;</a></p>
</body>
</html>