<html lang="en">
<head>
    <title>formDemo.html</title>
    <meta charset="UTF-8" />
</head>
<body>
    <form>
        <fieldset>
            <legend>Enter Username and Password.</legend>
            <p>
                <label>Username</label>
                <input type="text"
                       id="myText"
                       value="" />
            </p>
            <p>
                <label>Password</label>
                <input type="password"
                       id="myPwd"
                       value="" />
            </p>
            <p><a href="~/Home/About" class="btn btn-primary btn-lg">Login &raquo;</a></p>
        </fieldset>
    </form>
</body>
</html>
